### 311 Data Cleanup Script

Data obtained through https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/explore/query/SELECT%0A%20%20%60unique_key%60%2C%0A%20%20%60created_date%60%2C%0A%20%20%60closed_date%60%2C%0A%20%20%60agency%60%2C%0A%20%20%60agency_name%60%2C%0A%20%20%60complaint_type%60%2C%0A%20%20%60descriptor%60%2C%0A%20%20%60location_type%60%2C%0A%20%20%60incident_zip%60%2C%0A%20%20%60incident_address%60%2C%0A%20%20%60street_name%60%2C%0A%20%20%60cross_street_1%60%2C%0A%20%20%60cross_street_2%60%2C%0A%20%20%60intersection_street_1%60%2C%0A%20%20%60intersection_street_2%60%2C%0A%20%20%60address_type%60%2C%0A%20%20%60city%60%2C%0A%20%20%60landmark%60%2C%0A%20%20%60facility_type%60%2C%0A%20%20%60status%60%2C%0A%20%20%60due_date%60%2C%0A%20%20%60resolution_description%60%2C%0A%20%20%60resolution_action_updated_date%60%2C%0A%20%20%60community_board%60%2C%0A%20%20%60bbl%60%2C%0A%20%20%60borough%60%2C%0A%20%20%60x_coordinate_state_plane%60%2C%0A%20%20%60y_coordinate_state_plane%60%2C%0A%20%20%60open_data_channel_type%60%2C%0A%20%20%60park_facility_name%60%2C%0A%20%20%60park_borough%60%2C%0A%20%20%60vehicle_type%60%2C%0A%20%20%60taxi_company_borough%60%2C%0A%20%20%60taxi_pick_up_location%60%2C%0A%20%20%60bridge_highway_name%60%2C%0A%20%20%60bridge_highway_direction%60%2C%0A%20%20%60road_ramp%60%2C%0A%20%20%60bridge_highway_segment%60%2C%0A%20%20%60latitude%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60location%60%2C%0A%20%20%60%3A%40computed_region_efsh_h5xi%60%2C%0A%20%20%60%3A%40computed_region_f5dn_yrer%60%2C%0A%20%20%60%3A%40computed_region_yeji_bk3q%60%2C%0A%20%20%60%3A%40computed_region_92fq_4b7q%60%2C%0A%20%20%60%3A%40computed_region_sbqj_enih%60%0AWHERE%20%60descriptor%60%20IN%20%28%22MOLD%22%29%0AORDER%20BY%20%60created_date%60%20DESC%20NULL%20LAST/page/filter


In the following cleaned and filtered to the years of 2010 and 2022

#### Author: Matthias Fitzky

In [1]:
import pandas as pd
import numpy as np

In [2]:
Data311Raw=pd.read_csv(r'..\Data\311_Service_Requests_from_2010_to_Present.csv')[['Unique Key','BBL','Created Date','Descriptor','Closed Date']]

c:\ProgramData\Miniconda3\envs\testv37\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
Data311Raw.dtypes

Unique Key        int64
BBL             float64
Created Date     object
Descriptor       object
Closed Date      object
dtype: object

In [4]:
Data311Raw.shape

(326980, 5)

In [5]:
#Filter data that has no bbl 
Data311Raw.dropna(inplace=True)

In [6]:
Data311Raw.shape

(318890, 5)

In [7]:
Data311Raw

,Unique Key,BBL,Created Date,Descriptor,Closed Date
52,57284227,4.096630e+09,04/11/2023 10:40:18 AM,MOLD,04/11/2023 07:24:14 PM
62,57273077,2.030990e+09,04/10/2023 06:49:42 PM,MOLD,04/11/2023 08:18:17 PM
81,57277837,5.000460e+09,04/10/2023 03:19:00 PM,MOLD,04/11/2023 08:18:28 PM
83,57278428,2.032120e+09,04/10/2023 03:12:47 PM,MOLD,04/11/2023 05:28:06 PM
106,57276497,3.046470e+09,04/10/2023 10:36:48 AM,MOLD,04/11/2023 08:17:09 PM
...,...,...,...,...,...
326975,15634774,4.112020e+09,01/01/2010 12:00:00 AM,MOLD,02/13/2010 12:00:00 AM
326976,15634773,4.120640e+09,01/01/2010 12:00:00 AM,MOLD,01/11/2010 12:00:00 AM
326977,15635738,1.020010e+09,01/01/2010 12:00:00 AM,MOLD,01/17/2010 12:00:00 AM
326978,15635739,2.026860e+09,01/01/2010 12:00:00 AM,MOLD,01/29/2010 12:00:00 AM
326979,15635753,4.155550e+09,01/01/2010 12:00:00 AM,MOLD,01/08/2010 12:00:00 AM

In [8]:
#reformat bbl
Data311Raw['BBL'] = Data311Raw['BBL'].apply(lambda x: '{:.0f}'.format(float(x)))

In [9]:
#Filter date
Data311Raw['Created Date'] = pd.to_datetime(Data311Raw['Created Date'])

In [10]:
Data311Raw

,Unique Key,BBL,Created Date,Descriptor,Closed Date
52,57284227,4096630002,2023-04-11 10:40:18,MOLD,04/11/2023 07:24:14 PM
62,57273077,2030990008,2023-04-10 18:49:42,MOLD,04/11/2023 08:18:17 PM
81,57277837,5000460028,2023-04-10 15:19:00,MOLD,04/11/2023 08:18:28 PM
83,57278428,2032120078,2023-04-10 15:12:47,MOLD,04/11/2023 05:28:06 PM
106,57276497,3046470006,2023-04-10 10:36:48,MOLD,04/11/2023 08:17:09 PM
...,...,...,...,...,...
326975,15634774,4112020012,2010-01-01 00:00:00,MOLD,02/13/2010 12:00:00 AM
326976,15634773,4120640035,2010-01-01 00:00:00,MOLD,01/11/2010 12:00:00 AM
326977,15635738,1020010005,2010-01-01 00:00:00,MOLD,01/17/2010 12:00:00 AM
326978,15635739,2026860001,2010-01-01 00:00:00,MOLD,01/29/2010 12:00:00 AM
326979,15635753,4155550001,2010-01-01 00:00:00,MOLD,01/08/2010 12:00:00 AM

In [11]:
start_date = pd.to_datetime('2010-01-01')
end_date = pd.to_datetime('2023-01-01')
filtered_df = Data311Raw.loc[(Data311Raw['Created Date'] >= start_date) & (Data311Raw['Created Date'] <= end_date)]

In [12]:
filtered_df.to_csv('../Output/MoldComplaints_311_2010to2022')